/*Body Styles */
body {
font-family: "Rockwell",serif;
}

/*Navbar Styles */
.navbar-default {
  background-color: #002663;
  border-color: #405c8a;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar {
    text-transform: uppercase;
    font-family: "arial";
    font-weight:700;
    padding: 0.5%;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5381ac;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:#5381ac;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #002663;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #5381ac;
  background-color: #405c8a;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #405c8a;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #5381ac;
  background-color: #405c8a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #405c8a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color:#5381ac;
  background-color: #405c8a;
}
.navbar-default .navbar-toggle {
  border-color: #405c8a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #405c8a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #5381ac;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #008CD0;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #5381ac;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #5381ac;
    background-color: #405c8a;
  }
}

.brandleft {
    margin-left:15%;
}

/*Section Styles */
section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

/* about section */

#about {
background-color:#405c8a;

}
#about .container {
    padding-top: 100px;
    padding-bottom:50px;
}

#about img {
    display:block;
    margin: 0 auto 20px;
}

/* norms section */
#norms {
background-color: #569099;
}
#norms .container {
    padding-top: 100px;
    padding-bottom:50px
}



